<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Активная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Отключенная</а>
    </li>
</ul>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Фильмы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/person/">Герои фильмов</a>
    </li>
</ul>
</body>
</html>